body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    
}

#headandnav{
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#man{
    box-sizing: border-box;
    width: 30%;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: normal;
    text-transform: none;
    justify-self: center;
    align-self: center;
}

nav{
    /* box-shadow:5px0 5px 10px black; */
    height: 15vh;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

ul{
    box-sizing: border-box;
    height: auto;
    margin: 0;
    padding: 1rem 0;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
  
}

li{
    box-sizing: border-box;
    text-transform: uppercase;
    display: flex;
    display: inline-block;
}

li a{
    padding: 2rem 1rem;
    font-size: 0.9em;
    text-decoration: none;
    color: rgb(32, 32, 32);
    font-weight: 600;
}

li a:hover{
    cursor: pointer;
    color: rgba(32, 32, 32);
    font-weight: 800;
    transition-duration: 200ms;
}

h1{
    /* color: #131212; */
    color: #212529;
    font-weight: 800;
    font-size: 8em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
    outline: black;
    /* text-shadow: 2px 2px 5px black; */
}

h3{
    /* color: #131212; */
    font-weight: 600;
    color: #212529;
    font-size: 3em;
    line-height: 1.2em;
    margin: 0;
    padding: 0;
}

p{
    /* color: white; */
    margin: 0;
    padding: 0;
    font-size: 1.3em;
    line-height: 1.5em;
}

header{
    height: 85vh;
    /* background: url("IMG_20170116_174627_352.jpg"); */
    /* background-color: rgb(15, 30, 48); */
    background-color: #E9ECEF;
     background-size: cover;
    background-position: top;
    align-content: center;
    display: flex;
    align-items: flex-end;
}

#leftbox{
    display: flex;
    flex-direction: column;
    min-width: 40%;
    padding-left: 5%;
    padding-bottom: 6%;
}

img{
    width: 0%;
    height: 80vh;
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 0 5px 10px black;
}

#rightbox{
    padding-left: 2.5%;
    padding-right: 6%;
    padding-bottom: 0%;
    display: flex;
    justify-content: flex-end;
}

#emojiicon{
    font-size: 25em;
    align-self: flex-end;
}

#projects{
    width: 100%;
}

h4{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #212529;
    font-size: 2.5em;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}


#pr{
    padding-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
}

#applist{
    padding-top: 6%;
    display: flex;
    flex-direction: column;
}

.app{
    box-sizing: border-box;
    display: flex;
    padding: 0 6%;
    /* border-bottom: 2px solid gray; */
}



div[id="applist"] div[class="app"]:nth-of-type(2n){
    display: flex;
    flex-direction: row-reverse;
}

div[id="applist"] div[class="app"]:nth-of-type(2n) .imagecontainer{
    padding: 1%;
    padding-bottom: 0;
    padding-left: 6%;
}

div[id="applist"] div[class="app"]:nth-child(1){
    background-color: white;
}

div[id="applist"] div[class="app"]:nth-child(2){
    background-color: white;
}

div[id="applist"] div[class="app"]:nth-child(3){
    background-color: white;
}

div[id="applist"] div[class="app"]:nth-child(4){
    background-color: white;
}





.appname{
    /* color: white; */
    font-weight: 600;
    font-size: 3em;
    line-height: 1.2em;
    margin: 0;
    margin-bottom: 0.3em;
    color: rgb(34, 33, 33);

}

.imagecontainer{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    max-width: 40%;
    width: 40%;
    padding: 1%;
    padding-left: 6%;
    padding-bottom: 0;
}

.icon{
    transition-duration: 300ms;
    transform-origin: bottom center;
    object-position: top;
    box-sizing: border-box;
    border-top: 0.8em solid white;
    border-left: 0.3em solid white;
    border-right: 0.3em solid white;
    width: 80%;
    margin-top: 5vh;
    height: 80vh;
    object-fit: cover;
    border-radius: 1.5em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    /* border: 2px solid gray; */
    border-bottom: none;
    box-shadow: 0 -0.2em 2em gray;
}

.appdetails{
    width: 60%;
    height: 70vh;
    box-sizing: border-box;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    padding-left: 9%;
    padding-right: 9%;
}


.app:hover {
    cursor: pointer;
    color: #2c4957;
    transition-duration: 200ms;
}

.app:hover .appname{
    transition-duration: 200ms;
}


/* .icon:hover{
    transition-duration: 300ms;
    transform-origin: center;
    object-position: unset;
    box-sizing: border-box;
    border-top: 0.8em solid white;
    border-bottom: 0.8em solid white;
    border-left: 0.3em solid white;
    border-right: 0.3em solid white;
    border-radius: 1.5em;
    width: 80%;
    height: auto;
    box-shadow: 0 0.3em 0.3em gray;
    transform-origin: center;
    transform: scale(0.9, 0.9);
    transition-duration: 300ms;
} */


footer{
    padding: 6%;
    background-color: #E9ECEF;
}

footer h4{
    margin: 0;
    padding: 0;
    color:  #212529;
    font-size: 2.5em;
    font-weight: 400;
    text-transform: capitalize;
    text-align: start;
    letter-spacing: 0;
}

form{
    margin-top: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
}

label{
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-weight: 400;
    color: white;
}

input{
    outline: none;
    font-weight: 400;
    font-size: 1.2em;
    width: 60%;
    background-color: white;
    padding: 1% 2%;
    border: 2px solid white;
    box-sizing: border-box;
    border-radius: 0.2em;
    
}

input:hover{
    transition-duration: 200ms;
    background-color: white;
    padding: 1% 2%;
    border-radius: 0.2em;
    border: 2px solid gray;
    box-sizing: border-box;
}

input:active{
    transition-duration: 200ms;
    background-color: #e2dede;
    padding: 1% 2%;
    border-radius: 0.2em;
    border: 2px solid gray;
    box-sizing: border-box;
}

@media (max-width: 900px){
    header{
    align-content: center;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    }

    h1{
        font-weight: 800;
        font-size: 3em;
        line-height: 1.2em;
        margin: 0;
        padding: 0;
    }
    
    h3{
        font-weight: 400;
        font-size: 1em;
        line-height: 1.2em;
        margin: 0;
        padding: 0;
    }
    

    h1, h3{
        text-align: center;
    }

    .app h3{
        text-align: start;
    }

    #leftbox{
        box-sizing: border-box ;
        width: 100%;
        padding: 6%;
        justify-content: center;
    }

    #rightbox{
        padding-left: 6%;
        padding-bottom: 6%;
        padding-right: 6%;
        padding-top: 3%;
        align-content: center;
        justify-content: center;
    }

    img{
        height: 100%;
    }

    .app{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1% 5%;
        padding: 6%;
        border-radius: 0.6em;
    }

    input{ 
        width: 100%;
    } 
}

